In [80]:
import pandas as pd

In [81]:
gpus_dataset = pd.read_csv("gpus.csv")

In [82]:
gpus_dataset.head()

,name,type,tdp_watts,TFLOPS32,TFLOPS16,GFLOPS32/W,GFLOPS16/W,memory,source
0,A100 PCIe 40/80GB,gpu,250,NaN,312.00,NaN,NaN,40.0,https://www.nvidia.com/content/dam/en-zz/Solut...
1,A100 SXM4 80 GB,gpu,400,NaN,312.00,NaN,NaN,80.0,https://www.nvidia.com/content/dam/en-zz/Solut...
2,AGX Xavier,gpu,30,16.00,32.00,533.33,1066.67,NaN,https://elinux.org/Jetson_AGX_Xavier
3,AMD RX480,gpu,150,5.80,5.80,38.67,38.67,8.0,techpowerup.com
4,GTX 1080 Ti,gpu,250,11.34,0.17,45.36,0.68,11.0,techpowerup.com

In [83]:
gpus_dataset = gpus_dataset[["name","type","tdp_watts"]]
gpus_dataset.head()

                name type  tdp_watts
0  A100 PCIe 40/80GB  gpu        250
1    A100 SXM4 80 GB  gpu        400
2         AGX Xavier  gpu         30
3          AMD RX480  gpu        150
4        GTX 1080 Ti  gpu        250

In [84]:
gamma_dataset = pd.read_csv("gamma.csv")
gamma_datasets = gamma_dataset.drop('Country code', axis=1)

In [105]:
idx = gamma_data.groupby('Country or region')['Year'].idxmax()
gamma_data = gamma_data.loc[idx]
gamma_data = gamma_data.rename(columns={'Country or region': 'Regions', 'Emissions intensity (gCO2 per kWh)': 'Gamma'})
gamma_data.head()

          Regions  Year    Gamma
0     Afghanistan  2020  166.667
1          Africa  2021  489.260
2         Albania  2020   24.482
3         Algeria  2020  485.450
4  American Samoa  2020  687.500

In [114]:
from pandasql import sqldf

In [115]:
def data_parse(user_input,dataframe):
    query = ""
    if dataframe == "gpus_dataset":
        query = "SELECT G.tdp_watts FROM gpus_dataset AS G WHERE G.name LIKE '{}'".format(user_input)
    elif dataframe == "gamma_data":
        query = "SELECT G.Gamma FROM gamma_data AS G WHERE G.Regions LIKE '{}'".format(user_input)
    result = sqldf(query, env=None)
    resultant = float(result.iloc[0][0])
    return resultant

In [116]:
result = data_parse("AGX Xavier","gpus_dataset")
print(result)

30.0

In [117]:
result2 = data_parse("Africa","gamma_data")
print(result2)

489.26