In [1]:
import pandas as pd

In [3]:
gpus_dataset = pd.read_csv("gpus.csv")

In [4]:
gpus_dataset.head()

,name,type,tdp_watts,TFLOPS32,TFLOPS16,GFLOPS32/W,GFLOPS16/W,memory,source
0,A100 PCIe 40/80GB,gpu,250,NaN,312.00,NaN,NaN,40.0,https://www.nvidia.com/content/dam/en-zz/Solut...
1,A100 SXM4 80 GB,gpu,400,NaN,312.00,NaN,NaN,80.0,https://www.nvidia.com/content/dam/en-zz/Solut...
2,AGX Xavier,gpu,30,16.00,32.00,533.33,1066.67,NaN,https://elinux.org/Jetson_AGX_Xavier
3,AMD RX480,gpu,150,5.80,5.80,38.67,38.67,8.0,techpowerup.com
4,GTX 1080 Ti,gpu,250,11.34,0.17,45.36,0.68,11.0,techpowerup.com

In [5]:
gpus_dataset = gpus_dataset[["name","type","tdp_watts"]]
gpus_dataset.head()

                name type  tdp_watts
0  A100 PCIe 40/80GB  gpu        250
1    A100 SXM4 80 GB  gpu        400
2         AGX Xavier  gpu         30
3          AMD RX480  gpu        150
4        GTX 1080 Ti  gpu        250

In [6]:
gamma_dataset = pd.read_csv("gamma.csv")
gamma_datasets = gamma_dataset.drop('Country code', axis=1)

In [7]:
idx = gamma_datasets.groupby('Country or region')['Year'].idxmax()
gamma_data = gamma_datasets.loc[idx]
gamma_data = gamma_data.rename(columns={'Country or region': 'Regions', 'Emissions intensity (gCO2 per kWh)': 'Gamma'})
gamma_data.head()

            Regions  Year    Gamma
20      Afghanistan  2020  166.667
42           Africa  2021  489.260
63          Albania  2020   24.482
84          Algeria  2020  485.450
105  American Samoa  2020  687.500

In [8]:
pue_dataset = pd.read_csv("pue.csv")
pue_dataset = pue_dataset.rename(columns={'Cloud Provider': 'Providers'})
pue_dataset.head()

                     Providers   PUE
0                 Google Cloud  1.10
1              Microsoft Azure  1.18
2                Alibaba Cloud  1.25
3          Amazon Web Services  1.15
4  Oracle Cloud Infrastructure  1.31

In [9]:
from pandasql import sqldf

In [21]:
def data_parse(user_input,dataframe):
    query = ""
    try:
      if dataframe == "gpus_dataset":
          query = "SELECT G.tdp_watts FROM gpus_dataset AS G WHERE G.name LIKE '{}'".format(user_input)
      elif dataframe == "gamma_data":
          query = "SELECT G.Gamma FROM gamma_data AS G WHERE G.Regions LIKE '{}'".format(user_input)
      elif dataframe == "pue_dataset":
          query = "SELECT G.PUE FROM pue_dataset AS G WHERE G.Providers LIKE '{}'".format(user_input)
      result = sqldf(query, env=None)
      resultant = float(result.iloc[0][0])
      return resultant
    except:
      return None

In [11]:
result = data_parse("AGX Xavier","gpus_dataset")
print(type(result))

<class 'float'>

In [17]:
result2 = data_parse("Africa","gamma_data")
print(result2)

489.26

In [13]:
result2 = data_parse("Google Cloud","pue_dataset")
print(result2)

1.1

In [18]:
def calculate_carbon_emissions(region, providers,grid_config, hours_trained, energy, num_processors, avg_power_per_processor,hardware_type):
    """
    Calculate carbon emissions using the formula: CF = γ · PUE · (E_CPU + E_GPU + E_RAM)
    energy : kwh
    gamma : kg/kwh
    CF: kg
    Args:
        PUE: Power Usage Effectiveness
        E_CPU: Energy consumption of CPU (optional)
        E_GPU: Energy consumption of GPU (optional)
        E_RAM: Energy consumption of RAM (optional)
        gamma: Gamma coefficient
        hours_trained: Hours of training
        num_processors: Number of processors
        avg_power_per_processor: Average power per processor per hour
    Returns:
        The calculated carbon emissions in kg.
    """
    total_energy = 0
    
    if energy:
        total_energy = energy
        
    else:
        val = data_parse(hardware_type,"gpus_dataset")
        if val:
            total_energy = hours_trained * val
        else:
            if num_processors and avg_power_per_processor:
                total_energy = hours_trained * num_processors * avg_power_per_processor
                
        total_energy = float(total_energy/1000) # KWh   
        print(data_parse(hardware_type,"gpus_dataset"))

    val =  data_parse(region,"gamma_data")
    if val:
        gamma = val
    else:
        gamma = 378.625
    
    gamma = float(gamma/1000) # kg/Kwh
        
    val = data_parse(providers,"pue_dataset")
    if val:   # no units
        PUE = val
    else:
        PUE = 1
    
    carbon_emissions = gamma * PUE * (total_energy)
    if grid_config:
        return carbon_emissions*grid_config
    else:
        return carbon_emissions

In [23]:
result = calculate_carbon_emissions(None,None,1,648,None,None,None,"TPUv3 Chip")
print(result)

283.0
69.43376699999999