In [2]:
import pandas as pd

In [10]:
gpus_dataset = pd.read_csv("gpus.csv")

In [11]:
gpus_dataset.head()

,name,type,tdp_watts,TFLOPS32,TFLOPS16,GFLOPS32/W,GFLOPS16/W,memory,source
0,A100 PCIe 40/80GB,gpu,250,NaN,312.00,NaN,NaN,40.0,https://www.nvidia.com/content/dam/en-zz/Solut...
1,A100 SXM4 80 GB,gpu,400,NaN,312.00,NaN,NaN,80.0,https://www.nvidia.com/content/dam/en-zz/Solut...
2,AGX Xavier,gpu,30,16.00,32.00,533.33,1066.67,NaN,https://elinux.org/Jetson_AGX_Xavier
3,AMD RX480,gpu,150,5.80,5.80,38.67,38.67,8.0,techpowerup.com
4,GTX 1080 Ti,gpu,250,11.34,0.17,45.36,0.68,11.0,techpowerup.com

In [12]:
gpus_dataset = gpus_dataset[["name","type","tdp_watts"]]
gpus_dataset.head()

                name type  tdp_watts
0  A100 PCIe 40/80GB  gpu        250
1    A100 SXM4 80 GB  gpu        400
2         AGX Xavier  gpu         30
3          AMD RX480  gpu        150
4        GTX 1080 Ti  gpu        250

In [13]:
pip install pandasql
from pandasql import sqldf

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=1949d5da03b18994f4deb967ae3f3eff99ad5bfb24ef04a403b32c1870a15354
  Stored in directory: /Users/archita/Library/Caches/pip/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
def data_parse(user_input,dataframe):